/* https://fonts.googleapis.com/css?family=Merriweather|Montserrat:500 generated on 2020-04-30T10:07:01+00:00 */
@font-face {font-family: 'Merriweather'; font-style: normal; font-weight: 400; src: url(../fonts/font-ab405a62.woff2) format('woff2'), url(../fonts/font-4854a826.woff) format('woff'); }
@font-face {font-family: 'Montserrat'; font-style: normal; font-weight: 500; src: url(../fonts/font-80727a03.woff2) format('woff2'), url(../fonts/font-b2759fa8.woff) format('woff'); }
