/* https://fonts.googleapis.com/css?family=Merriweather|Montserrat generated on 2020-04-30T09:38:38+00:00 */
@font-face {font-family: 'Merriweather'; font-style: normal; font-weight: 400; src: url(../fonts/font-ab405a62.woff2) format('woff2'), url(../fonts/font-4854a826.woff) format('woff'); }
@font-face {font-family: 'Montserrat'; font-style: normal; font-weight: 400; src: url(../fonts/font-b2fefdba.woff2) format('woff2'), url(../fonts/font-ac811e1b.woff) format('woff'); }
