/* https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:400,500|Barlow:400,400i,500,600,700 generated on 2020-04-30T09:27:02+00:00 */
@font-face {font-family: 'Barlow'; font-style: italic; font-weight: 400; src: url(../fonts/font-65e93a9e.woff2) format('woff2'), url(../fonts/font-dc935215.woff) format('woff'); }
@font-face {font-family: 'Barlow'; font-style: normal; font-weight: 400; src: url(../fonts/font-c20ca9fd.woff2) format('woff2'), url(../fonts/font-7d530694.woff) format('woff'); }
@font-face {font-family: 'Barlow'; font-style: normal; font-weight: 500; src: url(../fonts/font-c5b4950a.woff2) format('woff2'), url(../fonts/font-4c0c65a7.woff) format('woff'); }
@font-face {font-family: 'Barlow'; font-style: normal; font-weight: 600; src: url(../fonts/font-51126ba8.woff2) format('woff2'), url(../fonts/font-8ec9432e.woff) format('woff'); }
@font-face {font-family: 'Barlow'; font-style: normal; font-weight: 700; src: url(../fonts/font-0c0d5ec3.woff2) format('woff2'), url(../fonts/font-f9e72ad4.woff) format('woff'); }
@font-face {font-family: 'Barlow Semi Condensed'; font-style: normal; font-weight: 400; src: url(../fonts/font-29294d67.woff2) format('woff2'), url(../fonts/font-b2262e66.woff) format('woff'); }
@font-face {font-family: 'Barlow Semi Condensed'; font-style: normal; font-weight: 500; src: url(../fonts/font-dc820f21.woff2) format('woff2'), url(../fonts/font-8d317d27.woff) format('woff'); }
