/* https://fonts.googleapis.com/css?family=Montserrat:500|PT+Serif:400,400i,700|Playfair+Display generated on 2020-04-29T08:23:26+00:00 */
@font-face {font-family: 'Montserrat'; font-style: normal; font-weight: 500; src: url(../fonts/font-80727a03.woff2) format('woff2'), url(../fonts/font-b2759fa8.woff) format('woff'); }
@font-face {font-family: 'PT Serif'; font-style: italic; font-weight: 400; src: url(../fonts/font-2d1ae846.woff2) format('woff2'), url(../fonts/font-033f634e.woff) format('woff'); }
@font-face {font-family: 'PT Serif'; font-style: normal; font-weight: 400; src: url(../fonts/font-0846596e.woff2) format('woff2'), url(../fonts/font-ae144900.woff) format('woff'); }
@font-face {font-family: 'PT Serif'; font-style: normal; font-weight: 700; src: url(../fonts/font-0dade876.woff2) format('woff2'), url(../fonts/font-4624405c.woff) format('woff'); }
@font-face {font-family: 'Playfair Display'; font-style: normal; font-weight: 400; src: url(../fonts/font-5b7d1a23.woff2) format('woff2'), url(../fonts/font-435bce5d.woff) format('woff'); }
